<nav class="main-header">
    <h1 routerLink="/home" class="logo">Logo</h1>
    <div class="language-selector">
        <button (click)="changeLanguage('es')">ES</button>
        <button (click)="changeLanguage('en')">EN</button>
        <button (click)="changeLanguage('tl')">TL</button>
    </div>
    <ul>
        <li>
            <a routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li>
            <a routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
        <li>
            <a routerLink="/how-it-works" routerLinkActive="active">How It Works</a>
        </li>
    </ul>
</nav>